ul > .real-text-1 {
	background-color: #b0d4e9;
	border-left: 0px;
}
ul > .real-text-2 {
	background-color: #a9e0b5;
	border-left: 0px;
}
ul > .real-text-3 {
	background-color: #fadd84;
	border-left: 0px;
}
ul > .real-text-4 {
	background-color: #f0c8a8;
	border-left: 0px;
}
.card-lightblue:not(.card-ou tline) > .card-head er {
	background:url('../img/back.png') no-repeat;
	background-position:bottom right;
}